<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <script>
        function getDecision(callback) {
            $.get("/decision", function (data) {
                callback(data == "true");
            });
        }

        $(document).ready(function () {
            $(".button").click(function () {
                $('#loader').show();
                getDecision(function (decision) {
                    $(".image").attr("src", decision ? "/yes" : "/no");
                    $('#loader').hide();
                });
            });
        });
    </script>
</head>
<body>
    <div>
        <input type="button" value="Make a decision!" class="button" /><br />
        <img class="image" src="" style="width: 300px;" />
    </div>
    <div style="display: none; background-color: white; position: absolute; width: 350px; height: 350px; top: 0px; left: 0px; text-align: center; padding-top: 100px;" id="loader">
        Steve is deciding!
    </div>
</body>
</html>
